.page {
    position: relative;
}

.second-page {
    background-color: #ead669;
}

.autorisation_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translateX(-50%, -50%);
}

input {
    outline: none;
    border-radius: 3px;
    border: 1px solid #005300;
    margin-left: 10px;
}

input[type="text"] {
    min-width: 60%;
    width: 80%;
    height: 20px;
}

.autorisation_form__field {
    border-radius: 10px;
    border: 1px solid green;
    background: rgba(154, 205, 50, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.autorisation_form_legend {
    font-size: 20px;
    margin-left: 20px;
}

.autorisation_form_label {
    display: block;
    margin: 7px 0 7px 0;
}

.form__button {
    display: flex;
    justify-content: center;
}

button {
    margin: 5px 5px 5px 5px;
    padding: 6px 6px;
    justify-self: right;
    outline: none;
    border: 1px solid #005300;
    cursor: pointer;
    background: green;
    border-radius: 5px;
    color: #ffffff;
}

button:hover {
    background: #016701;
    border: 1px solid #004300;
}
