* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p,
h1,
h2 {
    padding: 0;
    margin: 0;
}

.page {
    position: relative;
}

.second-page {
    background-color: #ead669;
}

.autorisation_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    position: fixed;
    z-index: 10;
    top: 40%;
    left: 40%;
    transform: translateX(-50%, -50%);
}

input {
    outline: none;
    border-radius: 3px;
    border: 1px solid #005300;
    margin-left: 10px;
}

input[type="text"] {
    min-width: 60%;
    width: 80%;
    height: 20px;
}

.autorisation_form__field {
    border-radius: 10px;
    border: 1px solid green;
    background: rgba(154, 205, 50, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.autorisation_form_legend {
    font-size: 20px;
    margin-left: 20px;
}

.autorisation_form_label {
    display: block;
    margin: 7px 0 7px 0;
}

.form__button {
    display: flex;
    justify-content: center;
}

button {
    margin: 5px 5px 5px 5px;
    padding: 6px 6px;
    justify-self: right;
    outline: none;
    border: 1px solid #005300;
    cursor: pointer;
    background: green;
    border-radius: 5px;
    color: #ffffff;
}

.button_click {
    background: orange;
    border: 1px solid #e39609;
}

.button_click:hover {
    background: #e5980a;
    border: 1px solid #af7306;
    color: #d1d0d0;
}

button:hover {
    background: #016701;
    border: 1px solid #004300;
}

.text {
    width: 400px;
    border-radius: 10px;
    border: 1px solid #fa5106;
    background: rgba(239, 95, 32, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text__content {
    padding: 15px;
}

.input_text {
    margin-top: 30px;
    padding: 10px;
}

.input_text p {
    text-align: center;
    font-size: 20px;
}

.input_text form label {
    display: block;
    margin-left: 10px;
    margin-bottom: 7px;
}

.input_text form input {
    min-width: 70%;
    width: 90%;
    height: 25px;
}



.input_text form button {
    margin-left: 275px;
}
