/*стили для блока header_menu*/

.header__menu {
    width: 100%;
    height: 44px;
    background-color: #373737;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__menu_body {
    width: 940px;
    margin: 0 auto;
}

.header__menu_list {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu_list_data {
    /*    position: relative;*/
    list-style: none;
    border-right: 1px dotted rgba(255, 255, 255, 0.2);
    padding-right: 14px;
}

/*

.menu_list_data:after {
    content: '';
    width: 1px;
    height: 25px;
    background: #ffffff;
    opacity: 0.2;
    position: absolute;
    right: -16px;
    top: -2px;
}
*/

.menu_list_data:nth-child(9) {
    border: none;
}

.menu_list_data:hover a {
    cursor: poiner;
    color: #ff8E00;
}

.list_data_anchor {
    height: 44px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;


}

.list_data_anchor:hover {
    color: #ff8E00;
}

/*конец стилей для блока header_menu*/



.header_main_logo {
    padding: 60px 0 15px 0;

}

/*стили для бургер меню*/

.burger-menu {
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.burger-menu_span,
.burger-menu_span::after,
.burger-menu_span::before {
    width: 23px;
    height: 2px;
    margin-top: -1px;
    margin-left: -12px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
}

.burger-menu_span::after,
.burger-menu_span::before {
    content: '';
    display: block;
    transition: all 0.3s;
}

.burger-menu_span_active::after,
.burger-menu_span_active::before {
    background-color: white;
}

.burger-menu span::before {
    transform: translateY(-5px);
}

.burger-menu span::after {
    transform: translateY(5px);
}

.burger-menu_active span {
    height: 0;
}

.burger-menu_active span::before {
    transform: rotate(45deg);
}

.burger-menu_active span::after {
    transform: rotate(-45deg);
}

.header__burger {
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: -425px;
    z-index: 99;
    width: 425px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #373737;
    transition: 0.5s;
}


.header__burger_active {
    left: 0;
}

.burger-menu_active {
    transition: all .5s;
    z-index: 100;
    position: fixed;
    top: 27px;
    right: -350px;
}

.burger-menu_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.burger_data_anchor {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .2s;
    margin-top: 25px;
}

.burger_data_anchor:hover {
    color: #ff8E00;
    cursor: pointer;
}

/*конец стилей для бургер меню*/

.header-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-text_phones {
    display: flex;
}

.header-text_phones__phone {
    position: relative;
    margin-right: calc(var(--base-size-xl) + 11px);
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.header-text_phones__phone:nth-child(1)::after {
    position: absolute;
    display: block;
    right: -15px;
    bottom: -2px;
    content: '';
    width: 1px;
    height: calc(var(--base-size-xl) * 2);
    background: #cfcfcf;
}

.header-button__button {
    display: flex;
    align-items: center;
    padding: var(--base-size-l) calc(var(--base-size-xl) + 6px);
    background: var(--button-bgcolor);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: var(--main-border-radius);
}

.header-button__button span {
    font-family: 'Roboto', sans-serif;
    background: inherit;
    font-size: 14px;
    font-weight: 500;
    color: var(--button-text-color);
}

.header-button__button:hover {
    background: var(--button-bgcolor-hover);
}

.header-button__button:focus {
    background: var(--button-bgcolor-focus);
}

.header-button-icon {
    background: transparent;
    margin-right: calc(var(--base-size-s) + 3px);
}
