.map__wrap {
    height: 550px;
    position: relative;
}

.map__script {
    z-index: -1;
}

.map__block-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_title_mobile {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-top: calc((var(--base-size-xl) * 2) + 4px);
}

.map__block {
    width: 313px;
    height: 390px;
    background-color: var(--main-bgcolor);
    z-index: 3;
    position: absolute;
    bottom: 89px;
    left: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: calc(var(--base-size-l) - 2px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    /*  этого эффекта нет в макете, добавил что бы блок с адресом не сливался с картой  */
}

.map__block_title {
    position: relative;
    margin-left: calc(var(--base-size-s) * 10);
}

.map__block_title::after {
    content: '';
    position: absolute;
    top: 14px;
    left: -28px;
    background: url('<?php the_field('adress_icon'); ?>') no-repeat;
    width: 17px;
    height: 25px;
}

.header_text {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: var(--main-text-color);
    margin-bottom: calc(var(--base-size-s) + 1px);
    margin-top: calc(var(--base-size-l) + 1px);
}

.adress_text {
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: calc(var(--base-size-m) - 1px);
    text-decoration: none;
}

.map__block_phone {
    position: relative;
    margin-top: var(--base-size-m);
}

.map__block_phone::after {
    content: '';
    position: absolute;
    top: 14px;
    left: -27px;
    background: url('<?php the_field('adress_icon'); ?>') no-repeat;
    width: 15px;
    height: 22px;
}

.map__block_mail {
    position: relative;

}

.map__block_mail::after {
    content: '';
    position: absolute;
    top: 14px;
    left: -29px;
    background: url('<?php the_field('adress_icon'); ?>') no-repeat;
    width: 20px;
    height: 14px;
}

.map_button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #fff;
    margin-top: 14px;
    margin-bottom: var(--base-size-l);
}
