@media (min-width: 1921px) and (max-width: 2565px) {

    .burger-menu {
        display: none;
    }

    .mobile-logo {
        display: none;
    }

    .img_mobile {
        display: none;
    }

    .map__block-mobile {
        display: none;
    }

}

@media (min-width: 1201px) and (max-width: 1920px) {

    /* медиа запросы для блока header*/

    .burger-menu {
        display: none;
    }

    .mobile-logo {
        display: none;
    }

    /*  медиа для модального окна  */

    /* конец медиа запросов для блока header*/

    /* медиа запросы для блока main*/

    /* медиа запросы для блока advantages*/

    /* медиа запросы для блока production*/

    .img_mobile {
        display: none;
    }

    /* медиа запросы для блока map */
    .map__block {
        bottom: 89px;
        left: 286px;
    }

    .map__block-mobile {
        display: none;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {

    /* медиа запросы для блока header*/

    .burger-menu {
        display: none;
    }

    .mobile-logo {
        display: none;
    }

    /*  медиа для модального окна  */
    .modal_window__main_active {
        left: 13%;
    }

    /* конец медиа запросов для блока header*/

    /* медиа запросы для блока main*/
    .main-img::after {
        width: 305px;
        height: 310px;
    }

    /* конец медиа запросов для main*/

    /* медиа запросы для блока advantages*/

    /* медиа запросы для блока production*/

    .img_mobile {
        display: none;
    }

    /* конец медиа запросов для блока production*/

    /* начало медиа запросов для блока offer */

    /* начало медиа запросов для блока review */

    /* начало медиа запросов для блока partners */

    .partners_wrap {
        width: auto;
    }

    /* медиа запросы для блока map */
    .map__block {
        bottom: 89px;
        left: 94px;
    }

    .map__block-mobile {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    /* медиа запросы для блока header*/

    .header__menu_body {
        width: 768px;
        margin: 0;
    }

    .header__menu_list {
        padding: 0 15px 0 15px;
    }

    .menu_list_data {
        padding-right: 5px;
    }

    /*
    .menu_list_data:after {
        right: -7px;
    }
*/

    .list_data_anchor {
        font-size: 11px;
    }

    .burger-menu {
        display: none;
    }


    .header-text {
        justify-content: flex-end;
    }

    .mobile-logo {
        display: none;
    }

    .header-text_phones__phone {
        font-size: 15px;
        margin-right: var(--base-size-l);
    }

    .header-text_phones__phone:nth-child(1)::after {
        height: var(--base-size-xl);
        right: -7px;
        bottom: 1px;
    }

    .header-button__button span {
        font-size: 11px;
    }

    /*  медиа для модального окна  */
    .modal_window__main_active {
        width: 690px;
        left: 5%;
    }

    .main_title_modal_close span::after,
    .main_title_modal_close span::before {
        top: -13px;
        right: -369px;
        width: 24px;
    }

    /* конец медиа запросов для блока header*/

    /* медиа запросы для блока main*/


    .main-img {
        display: none;
    }

    .main-img::after {
        display: none;
    }

    .main-text {
        text-align: center;
    }

    .main-text__title {
        font-size: 39px;
    }

    .main-text__subtitle {
        font-size: 25px;
    }

    .main-text__form {
        margin-left: 0;
        max-width: 100%;
        /* ставлю max-width что бы перебить фиксированный размер формы заданный выше */
    }

    .main-text__form::after {
        display: none;
    }

    .main-text__form_title {
        font-size: 18px;
    }

    .main-text__form_subtitle {
        font-size: 18px;
    }

    .telephone_input {
        padding: calc(var(--base-size-xl) + 3px) calc(var(--base-size-xl) * 5) calc(var(--base-size-xl) + 3px) calc(var(--base-size-xl) + 3px);
        font-size: 13px;
    }

    .telephone_submit {
        padding: calc(var(--base-size-xl) + 3px) calc(var(--base-size-xl) + 2px);
        font-size: 14px;

    }

    .main-text span {
        text-align: left;
        font-size: 12px;
        margin-left: calc(var(--base-size-xl) + 130px);
    }

    /* конец медиа запросов для main*/

    /* медиа запросы для блока advantages*/

    .advantages-titles__box h1 {
        font-size: 30px;
    }

    .advantages-blocks {
        justify-content: center;
    }

    .advantages-blocks__block {
        flex-basis: 33%;
        min-width: 290px;
        margin: calc(var(--base-size-m) + 2px);
    }

    .advantages-blocks__block-info h3 {
        font-size: 15px;
    }

    .advantages-blocks__block-info p {
        font-size: 14px;
    }

    /* конец медиа запросов для блока advantages*/

    /* начало медиа запросов для блока production */

    .production_title:after {
        right: 320px;
    }

    .img_mobile {
        display: none;
    }

    /* конец медиа запросов для блока production*/

    /* начало медиа запросов для блока offer */

    #offer {
        background-position: center top;
    }

    /* конец медиа запросов для блока offer */

    /* начало медиа запросов для блока factory */

    #factory {
        padding-top: calc((var(--base-size-l) * 2) + 4px);
        padding-bottom: calc((var(--base-size-l) * 5) - 4px);
    }

    .factory_wrap {
        width: 100%;
    }

    .factory-slider-top img {
        max-width: 690px;
        max-height: 377px;
        outline: none;
        object-fit: cover;
    }

    /* конец медиа запросов для cлайдера */


    .slick-prev {
        border: 1px solid var(--button-bgcolor);
        width: 22px;
        height: 78px;
        left: 0px;
        z-index: 1;
        background: var(--button-bgcolor);
    }

    .slick-prev::before {
        background-image: url('../img/slider/arrow_right_active.png');
    }

    .slick-prev:hover::before {
        background-image: url('../img/slider/arrow_right_active.png');
    }

    .slick-prev:hover {
        background: var(--button-bgcolor-hover);
    }

    .slick-next {
        border: 1px solid var(--button-bgcolor);
        width: 22px;
        height: 78px;
        right: 0px;
        z-index: 1;
        background: var(--button-bgcolor);
    }

    .slick-next::before {
        background-image: url('../img/slider/arrow_left_active.png');
    }

    .slick-next:hover::before {
        background-image: url('../img/slider/arrow_left_active.png');
    }

    .slick-next:hover {
        background: var(--button-bgcolor-hover);
    }

    .factory-slider-bottom {
        display: none;
    }

    .factory-slider-bottom_img {
        max-height: 75px;
    }

    /* конец медиа запросов для cлайдера */

    .factory_wrap_title {
        text-align: center;
    }

    .factory_wrap_title:before {
        width: 112%;
        text-align: center;
        top: 0;
        left: -45px;
    }

    .factory_wrap_text {
        max-width: 100%;
        text-align: center;
    }

    /* конец медиа запросов для блока factory */

    /* начало медиа запросов для блока review */

    .review__slider {
        width: 570px;
    }

    .review_slider_data {
        width: 273px;
        height: 377px;
    }

    /* начало медиа запросов для блока partners */

    .partners_wrap {
        width: auto;
    }

    .partners-box {
        width: auto;
    }

    /* медиа запросы для блока map */

    .map__wrap {
        height: 875px;
        position: relative;
    }

    .map__script {
        z-index: 0;
        position: absolute;
        bottom: 0px;
        height: 450px;
    }

    .map__block {
        display: none;
    }

    .map__block-mobile {
        text-align: center;
        height: 415px;
        margin-right: calc(var(--base-size-xl) + 4px);
    }

    .map__block_title::after {
        display: none;
    }

    .map__block_phone::after {
        display: none;
    }

    .adress_text {
        font-size: 14px;
    }

    .map__block_phone {
        margin-left: calc(var(--base-size-s) * 11);
    }

    .map__block_mail::after {
        display: none;
    }

    .map__block_mail {
        margin-left: calc((var(--base-size-s) * 10) + 2px);
        margin-bottom: calc(var(--base-size-s) * 7);
    }

    .map_button {
        margin-left: var(--base-size-m);
    }

    ymaps {
        max-height: 450px !important;
    }


    .ymaps-2-1-77-map {
        width: 768px !important;
        height: 450px !important;
    }

}

@media (min-width: 521px) and (max-width: 767px) {

    /* медиа запросы для блока header*/
    .header {
        padding: calc((var(base-size-xl) * 2) - 2px) 0 var(--base-size-l) 0;
    }

    .header-text {
        justify-content: flex-end;
    }

    .mobile-logo {
        display: none;
    }

    .header-text {
        justify-content: flex-end;
    }

    .header-text_phones {
        flex-direction: column;
    }

    .header-text_phones__phone {
        font-size: 15px;
        margin-right: calc(var(--base-size-xl) + 1px);
    }

    .header-text_phones__phone:nth-child(1)::after {
        display: none;
    }

    .header-button__button {
        padding: var(--base-size-m) calc(var(--base-size-xl) + 2px);
    }

    .header-button-icon {
        margin: calc(var(--base-size-m) - 1px);
    }

    /* конец медиа запросов для блока header*/

    /* медиа запросы для блока main*/

    .main-img {
        display: none;
    }

    .main-img::after {
        display: none;
    }

    .main-text {
        text-align: center;
    }

    .main-text__title {
        font-size: 39px;
    }

    .main-text__subtitle {
        font-size: 25px;
    }

    .main-text__form {
        margin-left: 0;
    }

    .main-text__form::after {
        display: none;
    }

    .main-text__form_title {
        font-size: 18px;
    }

    .main-text__form_subtitle {
        font-size: 18px;
    }

    .telephone_input {
        padding: calc(var(--base-size-xl) + 3px) calc(var(--base-size-s) * 20) calc(var(--base-size-xl) + 3px) calc(var(--base-size-xl) + 3px);
        font-size: 13px;
    }

    .telephone_submit {
        padding: calc(var(--base-size-xl) + 3px) calc(var(--base-size-xl) + 2px);
        font-size: 14px;

    }

    .main-text span {
        text-align: left;
        font-size: 12px;
        margin-left: calc(var(--base-size-l) * 4);
    }

    /* конец медиа запросов для main*/

    /* медиа запросы для блока advantages*/


    #advantages {
        padding-right: 0;
    }

    .advantages-titles {
        flex-direction: column;
        align-items: center;
    }

    .advantages-titles__box {
        flex-basis: 40%;
        margin-bottom: calc(var(--base-size-l) * 2);
    }

    .advantages-titles__box h1 {
        font-size: 30px;
    }

    .advantages-titles__box_text {
        font-size: 14px;
    }

    .advantages-blocks {
        justify-content: center;
    }

    .advantages-blocks__block-img {
        flex-basis: 50px;
    }

    .advantages-blocks__block {
        flex-basis: 30%;
        min-width: 294px;
        margin: var(--base-size-m) calc(var(--base-size-s) + 1px) var(--base-size-m) calc(var(--base-size-s) + 1px);
    }

    /* конец медиа запросов для блока advantages*/

    /* начало медиа запросов для блока production */

    .production_title:after {
        display: none;
    }

    .img_mobile {
        display: none;
    }

    /* конец медиа запросов для блока production*/

    /* начало медиа запросов для блока offer */

    #offer {
        background-position: center top;
    }


    /* начало медиа запросов для блока factory */

    #factory {
        padding-top: calc((var(--base-size-l) * 2) + 4px);
        padding-bottom: calc((var(--base-size-xl) * 4) - 8px);
    }

    .factory_wrap {
        width: 100%;
        margin: 0 auto;
    }

    .factory-slider-top img {
        max-width: 540px;
        max-height: 360px;
        outline: none;
    }


    .slick-prev {
        left: 0px;
        z-index: 1;
        background-color: var(--button-bgcolor);
    }

    .slick-prev::before {
        background-image: url('../img/slider/arrow_right_active.png');
    }

    .slick-prev:hover::before {
        background-image: url('../img/slider/arrow_right_active.png');
    }

    .slick-prev:hover {
        background: var(--button-bgcolor-hover);
    }

    .slick-next {
        right: 0px;
        z-index: 1;
        background-color: var(--button-bgcolor);
    }

    .slick-next::before {
        background-image: url('../img/slider/arrow_left_active.png');
    }

    .slick-next:hover::before {
        background-image: url('../img/slider/arrow_left_active.png');
    }

    .slick-next:hover {
        background: var(--button-bgcolor-hover);
    }

    .factory-slider-bottom {
        display: none;
    }

    .factory-slider-bottom_img {
        max-height: 73px;
    }

    .factory_wrap_title {
        text-align: center;
    }

    .factory_wrap_title:before {
        width: 115%;
        top: 0;
        left: -80px;
    }

    .factory_wrap_text {
        max-width: 100%;
        text-align: center;
    }

    /* конец медиа запросов для блока factory */

    /* начало медиа запросов для блока review */

    .review__slider {
        width: 490px;
    }


    /* начало медиа запросов для блока partners */

    .partners_wrap {
        width: auto;
    }

    .partners-box {
        width: auto;
    }

    /* начало медиа запросов для блока map */


    .map__wrap {
        height: 880px;
        position: relative;
    }

    .map__script {
        z-index: 0;
        position: absolute;
        bottom: -100px;
    }

    .map__block {
        display: none;
    }

    .map__block-mobile {
        text-align: center;
        height: 415px;
    }

    .map__block_title::after {
        display: none;
    }

    .map__block_phone::after {
        display: none;
    }

    .adress_text {
        font-size: 14px;
    }

    .map__block_phone {
        margin-left: calc(var(--base-size-s) * 11);
    }

    .map__block_mail::after {
        display: none;
    }

    .map__block_mail {
        margin-left: calc((var(--base-size-s) * 10) + 2px);
        margin-bottom: calc(var(--base-size-s) * 7);
    }

    .map_button {
        margin-left: var(--base-size-m);
    }

    .ymaps-2-1-77-map {
        height: 450px !important;
    }


}

@media (min-width: 425px) and (max-width: 520px) {

    /* медиа запросы для блока header*/

    .header__menu {
        display: none;
    }

    .header_main_logo {
        padding: calc(var(--base-size-l) - 2px) 0 calc(var(--base-size-l) - 2px) 0;
    }

    .header-text {
        justify-content: flex-end;
    }

    .header_logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }



    .burger-menu {
        margin: 0 22px 0 15px;
    }

    .header-text_phones {
        flex-direction: column;
    }

    .full-logo {
        display: none;
    }

    .mobile-logo {
        background: var(--button-bgcolor);
        padding: var(--base-size-l) var(--base-size-l);
        border-radius: var(--main-border-radius);
    }

    .header-text_phones__phone {
        font-size: 14px;
        margin-right: calc(var(--base-size-xl) - 2px);
    }

    .mobile_text {
        font-weight: 900;
    }

    .header-button__button {
        padding: var(--base-size-m) var(--base-size-m);
    }

    .header-button-icon {
        margin: 0;
    }

    .header-button__button span {
        display: none;
    }

    .header-text_phones__phone:nth-child(1)::after {
        display: none;
    }

    /*  медиа для модального окна  */
    .modal_window__main_active {
        left: 0;
    }

    .main_title_modal_close span::after,
    .main_title_modal_close span::before {
        top: -18px;
        right: -211px;
        width: 24px;
    }


    .modal__main-text__form_title {
        font-size: 23px;
        padding-top: 12px;
        line-height: 24px;
    }

    .modal__main-text__form_title span {
        font-size: 21px;
        line-height: 20px;
    }

    .telephone_form_label {
        font-size: 17px;
        padding: 0;
        padding-bottom: 5px;
    }

    .modal__main-text__form {
        padding: 0 12px 0 12px;
    }

    .modal-input {
        padding: 20px 90px 20px 130px !important;
        font-size: 18px;
    }

    .modal_window__main_title {
        height: 48px;
    }

    .modal__main_title {
        font-size: 18px;
        padding-top: 15px;

    }

    /* конец медиа запросов для блока header*/

    /* медиа запросы для блока main*/
    .main {
        padding: calc((var(--base-size-l) * 4) + 2px) 0 calc((var(--base-size-l) * 4) + 8px) 0;
        height: 450px;
    }


    .main-img {
        display: none;
    }

    .main-img::after {
        display: none;
    }

    .main-text {
        text-align: center;
    }

    .main-text__title {
        font-size: 22px;
        line-height: 24px;
        color: var(--button-bgcolor);
        margin-bottom: calc(var(--base-size-l) - 2px);
    }

    .main-text__subtitle {
        font-size: 18px;
        margin-bottom: calc((var(--base-size-l)*4) - 8px);
    }

    .main-text__form {
        margin-left: 0;
    }

    .main-text__form::after {
        display: none;
    }

    .main-text__form_title {
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: calc(var(--base-size-l) - 2px);
    }

    .main-text__form_subtitle {
        font-size: 15px;
        line-height: 18px;
        padding-bottom: var(--base-size-xl);
    }

    .telephone_input {
        padding: calc(var(--base-size-xl) + 1px) calc((var(--base-size-l) * 6) - 1px);
        font-size: 12px;
        font-weight: 300;
        margin: 0 0 calc(var(--base-size-l) + 1px) 0;
    }

    .telephone_submit {
        padding: calc(var(--base-size-xl) + 1px) calc(var(--base-size-xl) + 13px);
        font-size: 15px;
        line-height: 22px;

    }

    .main-text span {
        font-size: 13px;
        margin-left: 0;
    }

    /* конец медиа запросов для main*/

    /* медиа запросы для блока advantages*/

    #advantages {
        padding-right: 0;
        padding-bottom: calc(var(--base-size-s) * 10);
    }

    .advantages-titles {
        flex-direction: column;
        align-items: center;
    }

    .advantages-titles__box {
        flex-basis: 40%;
        margin-bottom: calc(var(--base-size-l) * 2);
    }

    .advantages-titles__box h1 {
        font-size: 30px;
    }

    .advantages-titles__box_text {
        font-size: 14px;
    }

    .advantages-blocks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .advantages-blocks__block {
        flex-basis: 30%;
        min-width: 294px;
        margin: var(--base-size-m);
    }

    /* конец медиа запросов для блока advantages*/

    /* начало медиа запросов для блока production */

    #production {
        padding-top: calc(var(--base-size-xl) * 2);
    }

    .production_title:after {
        display: none;
    }

    .production_title {
        font-size: 22px;
        margin-bottom: calc(var(--base-size-l) - 2px);
    }

    .img_full {
        display: none;
    }

    .production_text {
        font-size: 18px;
        margin-bottom: calc(var(--base-size-xl) + 1px);

    }

    .production_button_block {
        margin-bottom: calc((var(--base-size-xl) * 2) - 2px);
    }

    .button-o {
        font-size: 14px;
        padding: calc(var(--base-size-xl) - 1px) calc((var(--base-size-l) * 2) - 2px);
    }

    .production-button {
        font-size: 14px;
        padding: calc(var(--base-size-xl) - 1px) calc(var(--base-size-l) * 2);
    }

    /* конец медиа запросов для блока production*/

    /* начало медиа запросов для блока offer */

    #offer {
        background-position: center top;
    }

    .offer_title_text {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: calc((var(--base-size-xl) * 2) - 2px);
    }

    .offer_title_text_span {
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        margin-top: calc(var(--base-size-s) + 1px);

    }

    .offer_subtitle {
        font-size: 14px;
        margin-bottom: var(--base-size-l);
    }

    .offer_form_tel {
        padding: calc(var(--base-size-xl) + 1px) calc((var(--base-size-xl) * 6) - 9px);
        font-size: 13px;
        max-width: 290px;
        margin-right: 0;
    }

    .offer_form_submit {
        font-size: 15px;
        padding: var(--base-size-xl) calc((var(--base-size-l) * 3) - 7px);
    }

    .offer_form span {
        font-size: 13px;
    }

    /* начало медиа запросов для блока factory */

    #factory {
        padding-top: calc((var(--base-size-l) * 2) + 4px);
        padding-bottom: calc((var(--base-size-xl) * 4) - 8px);
    }

    .factory_wrap {
        width: 100%;
    }

    .factory-slider-top img {
        max-width: 410px;
        max-height: 377px;
        outline: none;
    }

    /* медиа запросы для cлайдера */

    .slick-prev {
        left: 0px;
        z-index: 1;
        background-color: var(--button-bgcolor);
    }

    .slick-prev::before {
        background-image: url('../img/slider/arrow_right_active.png');
    }

    .slick-prev:hover::before {
        background-image: url('../img/slider/arrow_right_active.png');
    }

    .slick-prev:hover {
        background: var(--button-bgcolor-hover);
    }

    .slick-next {
        right: 0px;
        z-index: 1;
        background-color: var(--button-bgcolor);
    }

    .slick-next::before {
        background-image: url('../img/slider/arrow_left_active.png');
    }

    .slick-next:hover::before {
        background-image: url('../img/slider/arrow_left_active.png');
    }

    .slick-next:hover {
        background: var(--button-bgcolor-hover);
    }

    .factory-slider-bottom {
        display: none;
    }

    .factory_wrap_title {
        text-align: center;
        font-size: 20px;
    }

    .factory_wrap_title:before {
        width: 108%;
        height: 53px;
        top: 5px;
        left: -17px;
    }

    .factory_wrap_text {
        max-width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
    }

    /* конец медиа запросов для блока factory */

    /* начало медиа запросов для блока review */

    .review__slider {
        width: 300px;
    }

    .review__title:after {
        display: none;
    }


    /* начало медиа запросов для блока partners */

    #partners {
        padding-bottom: calc((var(--base-size-l) * 2) + 4px);
    }

    .partners_wrap {
        width: auto;
        margin-right: calc(var(--base-size-l) + 8px);
    }

    .partners__title {
        font-size: 22px;
        line-height: 18px;
        margin-bottom: calc(var(--base-size-xl) + 1px);
        margin-left: var(--base-size-l);
    }

    .partners__title::after {
        display: none;
    }

    .partners-box {
        width: 190px;
        height: 110px;
        margin-bottom: var(--base-size-l);
    }

    .partners-box_img {
        filter: none;
        width: 190px;
        height: 110px;
        object-fit: scale-down;
        padding-left: var(--base-size-s);
        padding-right: var(--base-size-s);
        padding-bottom: calc(var(--base-size-xl) + 1px);
    }

    .img-padding-45 {
        padding-top: var(--base-size-xl);
    }

    .img-padding-30 {
        padding-top: calc((var(--base-size-l) * 2) - 1px);
    }

    .img-padding-25 {
        padding-top: calc(var(--base-size-xl) + 2px);
    }

    /* начало медиа запросов для блока map */


    .map__wrap {
        height: 835px;
        position: relative;
    }

    .map__script {
        z-index: 0;
        position: absolute;
        bottom: 0;
        height: 430px;
    }

    .map__block {
        display: none;
    }

    .map__block-mobile {
        text-align: center;
        margin-right: calc((var(--base-size-l) * 3) - 6px);
    }

    .map__block_title::after {
        display: none;
    }

    .map__block_phone::after {
        display: none;
    }

    .adress_text {
        font-size: 14px;
        margin-bottom: var(--base-size-s);
    }

    .map__block_phone {
        margin-left: calc(var(--base-size-s) * 11);
    }

    .map__block_mail::after {
        display: none;
    }

    .map__block_mail {
        margin-left: calc((var(--base-size-s) * 10) + 2px);
        margin-bottom: calc(var(--base-size-s) * 7);
    }

    .map_button {
        font-size: 14px;
        line-height: 22px;
        margin-left: var(--base-size-m);
        padding: calc(var(--base-size-xl) + 1px) calc(var(--base-size-l) * 2);
    }

    ymaps {
        max-height: 430px !important;
    }

    .ymaps-2-1-77-map {
        width: 425px !important;
        height: 430px !important;
    }



}

@media (min-width: 375px) and (max-width: 424px) {

    /* медиа запросы для блока header*/

    .header__menu {
        display: none;
    }

    .header_main_logo {
        padding: calc(var(--base-size-l) - 2px) 0 calc(var(--base-size-l) - 2px) 0;
    }

    .header_logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header-text {
        justify-content: flex-end;
    }

    .burger-menu {
        margin: 0 21px 0 12px;
    }

    .burger-menu_active {
        left: 158px;
        top: 25px;
    }

    .header-text_phones {
        flex-direction: column;
    }


    .full-logo {
        display: none;
    }

    .mobile-logo {
        background: var(--button-bgcolor);
        padding: var(--base-size-l) var(--base-size-l);
        border-radius: var(--main-border-radius);
    }

    .header-text_phones__phone {
        font-size: 14px;
        margin-right: calc(var(--base-size-xl) - 2px);
    }

    .mobile_text {
        font-weight: 900;
    }

    .header-button__button {
        padding: var(--base-size-m) var(--base-size-m);
    }

    .header-button-icon {
        margin: 0;
    }

    .header-button__button span {
        display: none;
    }

    .header-text_phones__phone:nth-child(1)::after {
        display: none;
    }


    .header__burger {
        left: -375px;
        width: 375px;
    }

    .header__burger_active {
        left: 0;
    }

    .burger-menu_active {
        right: -150px;
    }

    /*  медиа для модального окна  */
    .modal_window__main_active {
        left: 0;
    }

    .main_title_modal_close span::after,
    .main_title_modal_close span::before {
        width: 24px;
        top: -18px;
        right: -185px;
    }

    .modal__main-text {
        height: 290px;
    }


    .modal__main-text__form_title {
        font-size: 24px;
        padding-top: 8px;
        line-height: 21px;
    }

    .modal__main-text__form_title span {
        font-size: 21px;
        line-height: 20px;
        padding-top: 5px;
    }

    .telephone_form_label {
        font-size: 17px;
        padding: 0;
        padding-bottom: 5px;
    }

    .modal__main-text__form {
        padding: 0 12px 0 12px;
    }

    .modal-input {
        padding: 20px 90px 20px 120px !important;
        font-size: 18px;
    }

    .modal_window__main_title {
        height: 48px;
    }

    .modal__main_title {
        font-size: 20px;
        padding-top: 15px;

    }


    /* конец медиа запросов для блока header*/

    /* медиа запросы для блока main*/
    .main {
        padding: calc((var(--base-size-l) * 4) + 2px) 0 calc((var(--base-size-l) * 4) + 8px) 0;
        height: 450px;
    }


    .main-img {
        display: none;
    }

    .main-img::after {
        display: none;
    }

    .main-text {
        text-align: center;
    }

    .main-text__title {
        font-size: 22px;
        line-height: 24px;
        color: var(--button-bgcolor);
        margin-bottom: calc(var(--base-size-l) - 2px);
    }

    .main-text__subtitle {
        font-size: 18px;
        margin-bottom: calc((var(--base-size-l)*4) - 8px);
    }

    .main-text__form {
        margin-left: 0;
    }

    .main-text__form::after {
        display: none;
    }

    .main-text__form_title {
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: calc(var(--base-size-l) - 2px);
    }

    .main-text__form_subtitle {
        font-size: 15px;
        line-height: 18px;
        padding-bottom: var(--base-size-xl);
    }

    .telephone_input {
        padding: calc(var(--base-size-xl) + 1px) calc((var(--base-size-l) * 6) - 1px);
        font-size: 12px;
        font-weight: 300;
        margin: 0 0 calc(var(--base-size-l) + 1px) 0;
    }

    .telephone_submit {
        padding: calc(var(--base-size-xl) + 1px) calc(var(--base-size-xl) + 13px);
        font-size: 15px;
        line-height: 22px;

    }

    .main-text span {
        font-size: 13px;
        margin-left: 0;
    }

    /* конец медиа запросов для main*/

    /* медиа запросы для блока advantages*/

    #advantages {
        padding-right: 0;
        padding-bottom: calc(var(--base-size-s) * 10);
    }

    .advantages-titles {
        flex-direction: column;
        align-items: center;
    }

    .advantages-titles__box {
        flex-basis: 40%;
        margin-bottom: calc(var(--base-size-l) * 2);
    }

    .advantages-titles__box h1 {
        font-size: 30px;
    }

    .advantages-titles__box_text {
        font-size: 14px;
    }

    .advantages-blocks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .advantages-blocks__block {
        flex-basis: 30%;
        min-width: 294px;
        margin: var(--base-size-m);
    }

    /* конец медиа запросов для блока advantages*/

    /* начало медиа запросов для блока production */

    #production {
        padding-top: calc(var(--base-size-xl) * 2);
    }

    .production_title:after {
        display: none;
    }

    .production_title {
        font-size: 22px;
        margin-bottom: calc(var(--base-size-l) - 2px);
    }

    .img_full {
        display: none;
    }

    .production_text {
        font-size: 18px;
        margin-bottom: calc(var(--base-size-xl) + 1px);

    }

    .production_button_block {
        margin-bottom: calc((var(--base-size-xl) * 2) - 2px);
    }

    .button-o {
        font-size: 14px;
        padding: calc(var(--base-size-xl) - 1px) calc((var(--base-size-l) * 2) - 2px);
    }

    .production-button {
        font-size: 14px;
        padding: calc(var(--base-size-xl) - 1px) calc(var(--base-size-l) * 2);
    }

    /* конец медиа запросов для блока production*/

    /* начало медиа запросов для блока offer */

    #offer {
        background-position: center top;
    }

    .offer_title_text {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: calc((var(--base-size-xl) * 2) - 2px);
    }

    .offer_title_text_span {
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        margin-top: calc(var(--base-size-s) + 1px);

    }

    .offer_subtitle {
        font-size: 14px;
        margin-bottom: var(--base-size-l);
    }

    .offer_form_tel {
        padding: calc(var(--base-size-xl) + 1px) calc((var(--base-size-xl) * 6) - 9px);
        font-size: 13px;
        max-width: 290px;
        margin-right: 0;
    }

    .offer_form_submit {
        font-size: 15px;
        padding: var(--base-size-xl) calc((var(--base-size-l) * 3) - 7px);
    }

    .offer_form span {
        font-size: 13px;
    }

    /* начало медиа запросов для блока factory */

    #factory {
        padding-top: calc((var(--base-size-l) * 2) + 4px);
        padding-bottom: calc((var(--base-size-xl) * 3) - 3px);
    }

    .factory_wrap {
        width: 100%;
    }

    .factory-slider-top img {
        max-width: 410px;
        max-height: 357px;
        outline: none;
    }

    /* медиа запросы для cлайдера */

    .slick-prev {
        left: 0px;
        z-index: 1;
        background-color: var(--button-bgcolor);
    }

    .slick-prev::before {
        background-image: url('../img/slider/arrow_right_active.png');
    }

    .slick-prev:hover::before {
        background-image: url('../img/slider/arrow_right_active.png');
    }

    .slick-prev:hover {
        background: var(--button-bgcolor-hover);
    }

    .slick-next {
        right: 0px;
        z-index: 1;
        background-color: var(--button-bgcolor);
    }

    .slick-next::before {
        background-image: url('../img/slider/arrow_left_active.png');
    }

    .slick-next:hover::before {
        background-image: url('../img/slider/arrow_left_active.png');
    }

    .slick-next:hover {
        background: var(--button-bgcolor-hover);
    }



    .factory-slider-bottom {
        display: none;
    }

    /* конец медиа запросов для cлайдера */

    .factory_wrap_title {
        text-align: center;
        font-size: 20px;
    }

    .factory_wrap_title:before {
        width: 108%;
        height: 53px;
        top: 5px;
        left: -13px;
    }

    .factory_wrap_text {
        max-width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
    }

    /* конец медиа запросов для блока factory */

    /* начало медиа запросов для блока review */

    #review {
        padding: 36px 0 40px 0;
    }

    .review__title {
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        margin-bottom: calc(var(--base-size-xl) + 1px);
    }

    .review__title:after {
        display: none;
    }

    .review_slider_data img {
        object-fit: cover;
    }

    .review__slider {
        width: 300px;
    }


    /* начало медиа запросов для блока partners */

    #partners {
        padding-bottom: calc((var(--base-size-l) * 2) + 4px);
    }

    .partners_wrap {
        width: auto;
        margin-right: calc(var(--base-size-xl) + 4px);
    }

    .partners__title {
        font-size: 22px;
        line-height: 18px;
        margin-bottom: calc(var(--base-size-xl) + 1px);
        margin-left: var(--base-size-l);
    }

    .partners__title::after {
        display: none;
    }

    .partners-box {
        width: 168px;
        height: 87px;
        margin-bottom: var(--base-size-m);
    }

    .partners-box_img {
        filter: none;
        width: 140px;
        height: 90px;
        object-fit: scale-down;
        padding-left: calc(var(--base-size-s) + 1px);
        padding-right: calc(var(--base-size-s) + 1px);
        padding-bottom: calc(var(--base-size-xl) + 1px);
    }

    .img-padding-45 {
        padding-top: var(--base-size-xl);
    }

    .img-padding-30 {
        padding-top: calc((var(--base-size-l) * 2) - 1px);
    }

    .img-padding-25 {
        padding-top: calc(var(--base-size-xl) + 2px);
    }

    /* начало медиа запросов для блока map */


    .map__wrap {
        height: 835px;
        position: relative;
    }

    .map__script {
        z-index: 0;
        position: absolute;
        bottom: 0;
        height: 420px;
    }

    .map__block {
        display: none;
    }

    .map__block-mobile {
        text-align: center;
        margin-right: calc((var(--base-size-l) * 3) - 6px);
    }

    .map__block_title::after {
        display: none;
    }

    .map__block_phone::after {
        display: none;
    }

    .adress_text {
        font-size: 14px;
        margin-bottom: var(--base-size-s);
    }

    .map__block_phone {
        margin-left: calc(var(--base-size-s) * 11);
    }

    .map__block_mail::after {
        display: none;
    }

    .map__block_mail {
        margin-left: calc((var(--base-size-s) * 10) + 2px);
        margin-bottom: calc(var(--base-size-s) * 7);
    }

    .map_button {
        font-size: 14px;
        line-height: 22px;
        margin-left: var(--base-size-m);
        padding: calc(var(--base-size-xl) + 1px) calc(var(--base-size-l) * 2);
    }

    ymaps {
        max-height: 420px !important;
    }


    .ymaps-2-1-77-map {
        width: 375px !important;
        height: 420px !important;
    }





}

@media (min-width: 320px) and (max-width: 374px) {

    /* медиа запросы для блока header*/

    .header__menu {
        display: none;
    }

    .header_main_logo {
        padding: calc(var(--base-size-l) - 2px) 0 calc(var(--base-size-l) - 2px) 0;
    }

    .header_logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header-text {
        justify-content: flex-end;
    }

    .burger-menu {
        margin-right: 8px;
        margin-left: 15px;
    }

    .burger-menu_active {
        left: 130px;
        top: 25px;
    }

    .header-text_phones {
        flex-direction: column;
    }


    .full-logo {
        display: none;
    }

    .mobile-logo {
        background: var(--button-bgcolor);
        padding: var(--base-size-l) var(--base-size-l);
        border-radius: var(--main-border-radius);
        margin-left: 15px;
    }

    .header-text_phones__phone {
        font-size: 14px;
        margin-right: calc(var(--base-size-xl) - 2px);
    }

    .mobile_text {
        font-weight: 900;
    }

    .header-button__button {
        padding: var(--base-size-m) var(--base-size-m);
    }

    .header-button-icon {
        margin: 0;
    }

    .header-button__button span {
        display: none;
    }

    .header-text_phones__phone:nth-child(1)::after {
        display: none;
    }

    .header__burger {
        left: -320px;
        width: 320px;
    }

    .header__burger_active {
        left: 0;
    }

    .burger-menu_active {
        right: -150px;
    }

    /*  медиа для модального окна  */
    .modal_window__main_active {
        left: 0;
    }

    .main_title_modal_close span::after,
    .main_title_modal_close span::before {
        top: -18px;
        right: -158px;
        width: 24px;
    }

    .modal__main-text {
        height: 300px;
    }


    .modal__main-text__form_title {
        font-size: 21px;
        padding-top: 8px;
        line-height: 21px;
    }

    .modal__main-text__form_title span {
        font-size: 19px;
        line-height: 20px;
        padding-top: 5px;
    }

    .telephone_form_label {
        font-size: 15px;
        padding: 0;
        padding-bottom: 5px;
    }

    .modal__main-text__form {
        padding: 0 12px 0 12px;
    }

    .modal-input {
        padding: 20px 73px 20px 77px !important;
        font-size: 18px;
    }

    .modal_window__main_title {
        height: 48px;
    }

    .modal__main_title {
        font-size: 20px;
        padding-top: 15px;

    }



    /* конец медиа запросов для блока header*/

    /* медиа запросы для блока main*/
    .main {
        padding: calc((var(--base-size-l) * 4) + 2px) 0 calc((var(--base-size-l) * 4) + 8px) 0;
        height: 450px;
    }


    .main-img {
        display: none;
    }

    .main-img::after {
        display: none;
    }

    .main-text {
        text-align: center;
    }

    .main-text__title {
        font-size: 22px;
        line-height: 24px;
        color: var(--button-bgcolor);
        margin-bottom: calc(var(--base-size-l) - 2px);
    }

    .main-text__subtitle {
        font-size: 18px;
        margin-bottom: calc((var(--base-size-l)*4) - 8px);
    }

    .main-text__form {
        margin-left: 0;
    }

    .main-text__form::after {
        display: none;
    }

    .main-text__form_title {
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: calc(var(--base-size-l) - 2px);
    }

    .main-text__form_subtitle {
        font-size: 15px;
        line-height: 18px;
        padding-bottom: var(--base-size-xl);
    }

    .telephone_input {
        padding: calc(var(--base-size-xl) + 1px) calc((var(--base-size-l) * 6) - 1px);
        font-size: 12px;
        font-weight: 300;
        margin: 0 0 calc(var(--base-size-l) + 1px) 0;
    }

    .telephone_submit {
        padding: calc(var(--base-size-xl) + 1px) calc(var(--base-size-xl) + 13px);
        font-size: 15px;
        line-height: 22px;

    }

    .main-text span {
        font-size: 13px;
        margin-left: 0;
    }

    /* конец медиа запросов для main*/

    /* медиа запросы для блока advantages*/

    #advantages {
        padding-right: 0;
        padding-bottom: calc(var(--base-size-s) * 10);
    }

    .advantages-titles {
        flex-direction: column;
        align-items: center;
    }

    .advantages-titles__box {
        flex-basis: 40%;
        margin-bottom: calc(var(--base-size-l) * 2);
    }

    .advantages-titles__box h1 {
        font-size: 30px;
    }

    .advantages-titles__box_text {
        font-size: 14px;
    }

    .advantages-blocks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .advantages-blocks__block {
        flex-basis: 30%;
        min-width: 294px;
        margin: var(--base-size-m);
    }

    /* конец медиа запросов для блока advantages*/

    /* начало медиа запросов для блока production */

    #production {
        padding-top: calc(var(--base-size-xl) * 2);
    }

    .production_title:after {
        display: none;
    }

    .production_title {
        font-size: 22px;
        margin-bottom: calc(var(--base-size-l) - 2px);
    }

    .img_full {
        display: none;
    }

    .production_text {
        font-size: 18px;
        margin-bottom: calc(var(--base-size-xl) + 1px);

    }

    .production_button_block {
        margin-bottom: calc((var(--base-size-xl) * 2) - 2px);
    }

    .button-o {
        font-size: 14px;
        padding: calc(var(--base-size-xl) - 1px) calc((var(--base-size-l) * 2) - 2px);
    }

    .production-button {
        font-size: 14px;
        padding: calc(var(--base-size-xl) - 1px) calc(var(--base-size-l) * 2);
    }

    /* конец медиа запросов для блока production*/

    /* начало медиа запросов для блока offer */

    #offer {
        background-position: center top;
    }

    .offer_title_text {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: calc((var(--base-size-xl) * 2) - 2px);
    }

    .offer_title_text_span {
        display: block;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        margin-top: calc(var(--base-size-s) + 1px);

    }

    .offer_subtitle {
        font-size: 14px;
        margin-bottom: var(--base-size-l);
    }

    .offer_form_tel {
        padding: calc(var(--base-size-xl) + 1px) calc((var(--base-size-xl) * 6) - 9px);
        font-size: 13px;
        max-width: 290px;
        margin-right: 0;
    }

    .offer_form_submit {
        font-size: 15px;
        padding: var(--base-size-xl) calc((var(--base-size-l) * 3) - 7px);
    }

    .offer_form span {
        font-size: 13px;
    }

    /* начало медиа запросов для блока factory */

    #factory {
        padding-top: calc((var(--base-size-l) * 2) + 4px);
        padding-bottom: calc((var(--base-size-xl) * 3) - 3px);
    }

    .factory_wrap {
        width: 100%;
    }


    .factory-slider-top img {
        outline: none;
        width: 290px;
        height: 380px;
        object-fit: cover;
    }

    /* медиа запросы для cлайдера */

    .slick-prev {
        left: 0px;
        z-index: 1;
        background-color: var(--button-bgcolor);
    }

    .slick-prev::before {
        background-image: url('../img/slider/arrow_right_active.png');
    }

    .slick-prev:hover::before {
        background-image: url('../img/slider/arrow_right_active.png');
    }

    .slick-prev:hover {
        background: var(--button-bgcolor-hover);
    }

    .slick-next {
        right: 0px;
        z-index: 1;
        background: var(--button-bgcolor);
    }

    .slick-next::before {
        background-image: url('../img/slider/arrow_left_active.png');
    }

    .slick-next:hover::before {
        background-image: url('../img/slider/arrow_left_active.png');
    }

    .slick-next:hover {
        background: var(--button-bgcolor-hover);
    }

    .factory-slider-bottom {
        display: none;
    }

    /*  конец медиа запросов для cлайдера */


    .factory_wrap_title {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }

    .factory_wrap_title:before {
        width: 111%;
        height: 53px;
        top: 5px;
        left: -17px;
    }

    .factory_wrap_text {
        max-width: 100%;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
    }

    /* конец медиа запросов для блока factory */

    /* начало медиа запросов для блока review */

    #review {
        padding: calc((var(--base-size-xl) * 2) + 4px) 0 calc((var(--base-size-l) * 3) + 4px) 0;
    }

    .review__title {
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        margin-bottom: calc(var(--base-size-xl) - 1px);
        max-width: 197px;
    }

    .review__title:after {
        display: none;
    }

    .review__slider {
        width: 290px;
        height: 380px;
    }

    .review_slider_data {
        width: 270px;
        height: 375px;
    }

    .review_slider_data img {
        object-fit: cover;
        max-width: 249px;
        max-height: 355px;
    }


    /* начало медиа запросов для блока partners */

    #partners {
        padding-bottom: calc((var(--base-size-l) * 2) + 6px);
    }

    .partners_wrap {
        width: auto;
        margin-right: var(--base-size-xl);
    }

    .partners__title {
        font-size: 22px;
        line-height: 18px;
        margin-bottom: calc(var(--base-size-xl) + 1px);
        margin-left: var(--base-size-m);
    }

    .partners__title::after {
        display: none;
    }

    .partners-box {
        width: 142px;
        height: 87px;
        margin-bottom: var(--base-size-m);
    }

    .partners-box_img {
        filter: none;
        width: 140px;
        height: 90px;
        object-fit: scale-down;
        padding-left: calc(var(--base-size-s) + 1px);
        padding-right: calc(var(--base-size-s) + 1px);
        padding-bottom: calc(var(--base-size-xl) + 1px);
    }

    .img-padding-45 {
        padding-top: var(--base-size-xl);
    }

    .img-padding-30 {
        padding-top: calc((var(--base-size-l) * 2) - 1px);
    }

    .img-padding-25 {
        padding-top: calc(var(--base-size-xl) + 2px);
    }

    /* начало медиа запросов для блока map */


    .map__wrap {
        height: 835px;
        position: relative;
    }

    .map__script {
        z-index: 0;
        position: absolute;
        bottom: 0;
        left: 15px;
        height: 420px;
        margin-bottom: calc(var(--base-size-l) + 2px);
    }

    .map__block {
        display: none;
    }

    .map__block-mobile {
        text-align: center;
        margin-right: 40px;
    }

    .map__block_title::after {
        display: none;
    }

    .map__block_phone::after {
        display: none;
    }

    .adress_text {
        font-size: 14px;
        margin-bottom: var(--base-size-s);
    }

    .map__block_phone {
        margin-left: calc(var(--base-size-s) * 11);
    }

    .map__block_mail::after {
        display: none;
    }

    .map__block_mail {
        margin-left: calc((var(--base-size-s) * 10) + 2px);
        margin-bottom: calc(var(--base-size-s) * 7);
    }

    .map_button {
        font-size: 14px;
        line-height: 22px;
        margin-left: var(--base-size-m);
        padding: calc(var(--base-size-xl) + 1px) calc(var(--base-size-l) * 2);
    }

    ymaps {
        max-height: 420px !important;
    }

    .ymaps-2-1-77-map {
        width: 290px !important;
        height: 420px !important;
    }

}
