#partners {
    padding-bottom: calc((var(--base-size-l) * 4) - 3px);
}

.partners_wrap {
    width: 940px;
    margin: 0 auto;
}

.partners__title {
    font-size: 27px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #313131;
    position: relative;
    margin-bottom: calc(var(--base-size-l) * 4);
}

.partners__title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -22px;
    right: 87px;
    background: url('../img/production/wave.png');
    width: 46px;
    height: 6px;
    z-index: 1;
}

.partners-box {
    width: 212px;
    height: 130px;
    background-color: var(--main-bgcolor);
    border: 1px solid rgba(0, 0, 0, 0.09);
    text-align: center;
    margin: 0 0 calc((var(--base-size-l) * 3) - 6px) 0;
}

.partners-box_img {
    padding-top: 16px;
    text-align: center;
    filter: grayscale(100%);
}

.img-padding-25 {
    padding-top: 25px;
}

.img-padding-30 {
    padding-top: 30px;
}

.img-padding-45 {
    padding-top: 45px;
}

.partners-box_img:hover {
    filter: none;
    cursor: pointer;
    transition: all 1s;
}
