#review {
    padding: calc(var(--base-size-l) * 5) 0;
    background: #f4f4f4;
}

.review__title {
    font-size: 27px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #313131;
    position: relative;
    margin-bottom: calc(var(--base-size-l) * 4);
}

.review__title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -22px;
    right: 175px;
    background: url('../img/production/wave.png');
    width: 46px;
    height: 6px;
    z-index: 1;

}

.review__slider {
    width: 875px;
    margin: 0 auto;
    position: relative;

}

.review_slider_data {
    width: 273px;
    height: 377px;
    background: #fff;
    margin: 0 calc(var(--base-size-xl) - 2px);
    padding: var(--base-size-s);
    outline: none;
}

.review_slider_data img {
    width: 258px;
    height: 360px;

}

.slick-prev-big {
    background: url('../img/review/arrow_big_left.png');
    width: 10px;
    height: 47px;
    outline: none;
    border: none;
    position: absolute;
    left: 0;
    bottom: 50%;
    margin-left: -22px;
    margin-bottom: -30px;
    cursor: pointer;
}

.slick-next-big {
    background: url('../img/review/arrow_bit_right.png');
    width: 10px;
    height: 47px;
    outline: none;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: -22px;
    margin-top: -18px;
    cursor: pointer;
}
